@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');

*{
    margin: 0;
    padding: 0;
    max-width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.4em;
}

.disfarce{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
    left: 0;
    top: 0;
}
.grid-autofit{
    margin: 20px auto;
    padding: 0 10px;
    width: 100%;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
    gap: 30px;
    justify-content: center;
}
.grid-fracao{
    grid-template-columns: repeat(auto-fit, minmax(200px, 475px));
}

:root{
    --text-branco:rgb(240, 248, 255);
    --cor-card: rgb(3, 168, 160);
    --cor-header:rgb(6, 127, 125);
    --Cor-menuMobile: rgb(202, 198, 73);
}
p{
    width: 100%;
    max-width: 800px;
    margin: 0 auto 10px auto;
    font-size: 1.25em;
    text-align: center;
    padding: 0 10px;
}
span{
    font-size: 1.25em;
    padding: 0px 10px;
}
img{
    width: 100%;
    height: 100%;
}

h1, h2{
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 50px;
}
header{
    background-color: var(--cor-header);
    width: 100vw;
    height: 170px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
#conteiner-logo > h1 {
    margin: 10px 0;
    color: var(--text-branco);
    font-weight: 500;
    font-family: 'Alice';
}
#logo{
    margin: 0 auto;
    width: 80px;
}
#menu-mobile{
    display: none;
    background-color: transparent;
    border: none;
    padding: 10px;
}
#hamburguer{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 30px;
    height: 3px;
    background-color: var(--Cor-menuMobile);
    border-radius: 4px;
    cursor: pointer;
}
#hamburguer::after, #hamburguer::before{
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background-color: var(--Cor-menuMobile);
    border-radius: 4px;
    top: -7px;
    transition: .5s;
}
#hamburguer::before{
    top: 7px;
}
#lista-menu{
    display: flex;
    justify-content: space-between;
}
#lista-menu > li > a {
    padding: 10px;
    font-size: 1.25em;
    color: var(--text-branco);
    transition: .5s;
}
#lista-menu > li > a:hover{
    background-color: rgb(2, 75, 74);

}
.banner{
    width: 100%;
    max-width: 1000px;
    margin: 30px auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: aqua;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    height: 500px;
}
.banner-forma1{
    background-image: url('../imagens/banner.jpg');
}
.banner-forma2{
    height: 300px;
    background-image: url('../imagens/banner2.jpg');
}
.banner-parceiros{
    background-image: url('https://www.npportoes.com.br/wp-content/uploads/2018/03/parceiros.jpg');
}
.banner-voluntario{
    background-image: url('https://aquietrabalho.com/wp-content/uploads/2020/02/voluntariado.jpg');
}
.banner > *{
    z-index: 2;
    color: var(--text-branco);
}
.banner > h2{
    text-transform: uppercase;
}
.banner-disfarce{
    background-color: rgba(0, 0, 0, 0.7);
}
@supports (backdrop-filter: blur(3px)){
    .banner-disfarce{
        backdrop-filter: blur(3px);
    }
}

.curso{
    padding: 10px;
    background-color: var(--cor-card);
    box-shadow: 7px 7px 10px 0px rgb(5 95 91);
}

.img-curso{
    width: 50%;
    min-width: 100px;
    margin: 0 auto;
}
.nome-curso{
    font-family: 'alice';
    font-size: 1.25em;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding: 0 10px;
}
.button-base{
    transition: .5s;
    display: block;
    background-color: rgb(5, 95, 91);
    border: none;
    border-radius: 15px;
    margin: 20px auto;
    font-size: 1.25em;
}
.button-base:hover{
    background-color: rgb(10, 167, 159);
}
.button-base:hover > a{
    color: rgb(0, 0, 0);
}
.button-base > a{
    display: block;
    padding: 10px;
    color: var(--text-branco);
}

footer{
    margin-top: 50px;
    padding: 20px;
    background-color: rgb(5, 95, 91);
}
#footer-span{
    display: block;
    font-size: 1.25em;
    padding: 0 10px;
    text-align: center;
}
#footer-conteiner{
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: space-between;
}

.img-footer{
    width: 50px;
    height: 50px;
    padding: 10px;
}

.parceiro{
    padding: 10px;
    background-color: var(--cor-card);
    position: relative;
}

@media screen  and (max-width:800px) {
    #lista-menu{
        display: none;
    }
    #menu-mobile{
        display: block;
    }
    .active > #lista-menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        z-index: 1000;
        top:170px;
        left: 0;
        width: 100vw;
        height: calc(100vh - 170px);
        background-color: var(--cor-header);
    }
    .active > #menu-mobile > #hamburguer{
        background-color: transparent;
    }
    .active > #menu-mobile > #hamburguer::after{
        top:0;
        transform: rotate(230deg);
    }
    .active > #menu-mobile > #hamburguer::before{
        top:0;
        transform: rotate(-230deg);
    }
}

